$page-padding: 1rem;
$textblock-width: 36rem;
$aside-width: 10rem;
$aside-gutter: 1rem;

body {
  max-width: $textblock-width + $aside-width + $aside-gutter + $page-padding * 2;
  margin: {
    left: auto;
    right: auto;
  }
  padding: $page-padding;
}

main {
  padding-right: $aside-width + $aside-gutter;
}

body * + * {
  margin-top: 1em;
}

aside {
  position: absolute;
  right: 0;
  width: $aside-width;
}
// This ensures that the `right: 0` is relative to main’s position.
main {
  position: relative;
}
