body {
  max-width: 36rem;
  margin: {
    left: auto;
    right: auto;
  }
  padding: 1rem;
}

body * + * {
  margin-top: 1em;
}

aside {
  left: 0;
  position: absolute;
  text-align: right;
  width: 10rem;
}
