$bullet-to-list-content-gap: #{$leading-ratio}rem;

li + li {
  margin-top: #{$leading-ratio / 2}rem;
}

ul li {
  margin-left: $bullet-to-list-content-gap;

  &:before {
    content: "•";
    position: absolute;
    margin-left: -$bullet-to-list-content-gap;
  }
}
