$serif-fonts: "portada-text", "Charter", "Georgia", "Times New Roman", serif;
$sans-fonts: "adelle-sans", system-ui;

$leading-ratio: 1.6;

@import "reset";
@import "layout";
@import "typography";
@import "fonts";
@import "color";
@import "lists";
@import "nav";

html {
  font-size: 19px;

  @media (max-width: 500px) {
    font-size: 17px;
  }
}
