$serif-fonts: "portada", "Charter", "Georgia", "Times New Roman", serif;
$sans-fonts: "adelle-sans", system-ui;

$leading-ratio: 1.45;

body {
  font-family: $serif-fonts;
  line-height: $leading-ratio;

  @media (prefers-color-scheme: dark) {
    -webkit-font-smoothing: antialiased;
  }
}

h1 {
  font-family: $sans-fonts;
  font-size: 3rem;
  font-weight: 800;
  margin: {
    top: 8rem;
    bottom: 4rem;
  }
}

// Replace space between paragraphs with an indent the size of the leading,
// ensuring the space created by the indent is a square.
body p + p {
  margin-top: 0;
  text-indent: #{$leading-ratio}em;
}
