$serif-fonts: "portada-text", "Charter", "Georgia", "Times New Roman", serif;
$sans-fonts: "adelle-sans", system-ui;

$leading-ratio: 1.6;

body {
  font-family: $serif-fonts;
  line-height: $leading-ratio;
  font-variant-numeric: oldstyle-nums;
  hanging-punctuation: first;

  @media (prefers-color-scheme: dark) {
    -webkit-font-smoothing: antialiased;
  }
}

em {
  font-style: italic;
}

h1 {
  font-family: $sans-fonts;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.4;
  margin: {
    top: 8rem;
    bottom: 4rem;
  }
}

// Stop long links from overflowing by breaking them inbetween words, using
// hyphens where necessary.
a {
  hyphens: auto;
  word-break: break-all;
}
